<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords"
        content="CarrefourSA, Carrefour, Market, Online Market, Senal Market, Sanal Market, Alışveriş, Hesaplı, Ana Sayfa" />
    <meta name="description"
        content="Siz de aynı gün teslim, günlük market ürün indirimleri ve geniş ürün seçimi ile kazançlı çıkın. Doğrusu, CarrefourSA'da online market alışverişi yapılır!" />
    <title>Carrefoursa</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">

    <!-- Favicon -->
    <link rel="shortcut icon" href="https://reimg-carrefour.mncdn.com/staticimage/favicon.ico">
    <!-- Vendor CSS -->
    <link rel="stylesheet" href="{{webRoot}}/assets/css/libs.bundle.css" />

    <!-- Main CSS -->
    <link rel="stylesheet" href="{{webRoot}}/assets/css/theme.bundle.css" />

</head>