<!-- HEADER -->
<header id="header" class="wrapper">
  <nav class="py-4 navbar navbar-expand-xl">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="/src/assets/images/logo.svg" alt="">
      </a>
      <button class="p-0 m-0 navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <div class="icon nav-icon">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="pt-5 d-flex flex-column ms-auto pt-xl-0">
          <ul class="navbar-top d-flex align-items-center ms-xl-auto list-unstyled">
            <li>
              <a class="link" href="https://www.carrefoursa.com/">
                carrefoursa.com’a git
              </a>
            </li>
            <li>
              <form class="search-form d-flex" role="search">
                <!--<input class="form-control search-input me-2" type="search" placeholder="Aramak istediğin kelimeyi gir…"
                  aria-label="Search"> -->
                <button class="search-btn" type="submit">
                  <i class="fa-solid fa-magnifying-glass"></i>
                </button>
              </form>
            </li>

            <li>
              <a href="/">
                <img src="/src/assets/images/mini-logo.svg" alt="">
              </a>
            </li>

            <li>
              <div class="language-select">
                <span>En</span>
              </div>
            </li>

          </ul>
          <ul class="mb-2 navbar-nav ms-xl-auto mb-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Hakkımızda
              </a>
              <div class="dropdown-menu">
                <div class="d-flex flex-xl-row flex-column">
                  <ul class="">
                    <li><a class="dropdown-item" href="#">Kalite Yönetimi</a></li>
                    <li><a class="dropdown-item" href="#">Yönetim Ekibimiz</a></li>
                    <li><a class="dropdown-item" href="#">İş Etiği Kuralları</a></li>
                  </ul>
                  <ul class="">
                    <li><a class="dropdown-item" href="#">Kurumsal Profilimiz</a></li>
                    <li><a class="dropdown-item" href="#">Ödüller</a></li>
                  </ul>
                  <ul class="">
                    <li><a class="dropdown-item" href="#">Bizden Haberler</a></li>
                    <li><a class="dropdown-item" href="#">Müşteri Hizmetleri</a></li>
                  </ul>
                  <ul class="">
                    <li><a class="dropdown-item" href="#">Değerlerimiz</a></li>
                    <li><a class="dropdown-item" href="#">Rüşvet ve Yolsuzluklar</a></li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Yatırımcı İlişkileri</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Sürdürülebilirlik
              </a>
              <div class="dropdown-menu">
                <div class="d-flex flex-xl-row flex-column">
                  <ul class="">
                    <li><a class="dropdown-item" href="#">Test Yönetimi</a></li>
                    <li><a class="dropdown-item" href="#">Test Ekibimiz</a></li>
                    <li><a class="dropdown-item" href="#">Test Etiği Kuralları</a></li>
                  </ul>
                  <ul class="">
                    <li><a class="dropdown-item" href="#">Test Profilimiz</a></li>
                    <li><a class="dropdown-item" href="#">Test Ö</a></li>
                  </ul>
                  <ul class="">
                    <li><a class="dropdown-item" href="#">Test Haberler</a></li>
                    <li><a class="dropdown-item" href="#">Test Hizmetleri</a></li>
                  </ul>
                  <ul class="">
                    <li><a class="dropdown-item" href="#">Test</a></li>
                    <li><a class="dropdown-item" href="#">Test ve Yolsuzluklar</a></li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Kalite Güvence</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Ödüllerimiz</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">İnsan Kaynakları</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">İletişim</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>