$font-family-base: "Ubuntu", sans-serif;
$font-size-base: 0.875rem;
$font-weight-base: 300;

$primary: #004996;
$secondary: #e30613;

$btn-padding-x: 1.5rem;
$btn-padding-y: 1rem;
$btn-border-radius: 14px;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
);

$input-border-radius: 0;
$form-check-input-border-radius: 0;
