<footer id="footer" class="bg-primary">
  <div class="footer-bg">
    <div class="footer-top-border bg-primary d-none d-xxl-block"></div>
    <div class="wrapper px-lg-1">
      <div class="footer-nav">
        <div class="flex-wrap d-flex">
          <div class="footer-nav-box">
            <a href="#" class="footer-nav-box-title nav-link">Hakkımızda</a>
            <ul class="footer-nav-box-content">
              <li class="nav-item"><a class="nav-link" href="#">Kurumsal Profilimiz</a></a></li>
              <li class="nav-item"><a class="nav-link" href="#">Değerlerimiz</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Politikalarımız</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Bizden Haberler</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Yönetim Ekibimiz</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Müşteri Hizmetleri</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Logolarımız</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Kurumsal Dökümanlar ve Rapor...</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Mağazalarımız</a></li>
            </ul>
          </div>
          <div class="footer-nav-box">
            <a href="#" class="footer-nav-box-title nav-link">Yatrımcı İlişkileri</a>
            <ul class="footer-nav-box-content">
              <li class="nav-item"><a class="nav-link" href="#">Genel Müdür Mesajı</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Politikalarımız</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Toplumsal Çalışmalarımız</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Çevresel Çalışmalarımız</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Sürdürülebilirlik Bülteni</a></li>
            </ul>
          </div>
          <div class="footer-nav-box">
            <a href="#" class="footer-nav-box-title nav-link">Sürdürülebilirlik</a>
            <ul class="footer-nav-box-content">
              <li class="nav-item"><a class="nav-link" href="#">İnsan Kaynakları Stratejimiz</a></li>
              <li class="nav-item"><a class="nav-link" href="#">İş Sağlığı ve Güvenliği Politikası</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Staj Olanaklarımız</a></li>
              <li class="nav-item"><a class="nav-link" href="#">İşe Alım Süreçlerimiz</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Başvuru</a></li>
            </ul>
          </div>
          <div class="footer-nav-box">
            <a href="#" class="footer-nav-box-title nav-link">Kalite Güvence</a>
            <ul class="footer-nav-box-content">
              <li class="nav-item"><a class="nav-link" href="#">Kurumsal Profilimiz</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Vİzyonumuz & Misyonumuz</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Yönetim Ekibimiz</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Bizden Haberler</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Çalışma Prensipleri</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Ödüller</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Müşteri Hizmetleri</a></li>
            </ul>
          </div>
          <div class="footer-nav-box">
            <a href="#" class="footer-nav-box-title nav-link">Ödüllerimiz</a>
            <ul class="footer-nav-box-content">
              <li class="nav-item"><a class="nav-link" href="#">Mağazalarımız</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Yatırımcı İlişkileri</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Kurumsal Sosyal Sorumluluk</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Bilgi Toplumu Hizmetleri</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Sözleşmeler</a></li>
            </ul>
          </div>
          <div class="footer-nav-box">
            <a href="#" class="footer-nav-box-title nav-link">İnsan Kaynakları</a>
            <ul class="footer-nav-box-content">
              <li class="nav-item"><a class="nav-link" href="#">Mağazalarımız</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Yatırımcı İlişkileri</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Kurumsal Sosyal Sorumluluk</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Bilgi Toplumu Hizmetleri</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Sözleşmeler</a></li>
            </ul>
          </div>
        </div>
        <div class="footer-nav-box footer-nav-contact">
          <a href="#" class="footer-nav-box-title nav-link">İletişim</a>
          <ul class="footer-nav-box-content">
            <li class="mb-1"><span>Çağrı Merkezi</span> <img src="/src/assets/icon/phone.svg" class="ms-2"></li>
            <li class="mb-3"><a class="nav-link" href="#">444 10 00 (Çalışma Saatleri 08:00 - 00:00)</a></li>
            <li class="mb-1"><span>E-Posta</span> <img src="/src/assets/icon/mail.svg" class="ms-2"></li>
            <li class="mb-3"><a class="nav-link" href="#">bilgi@carrefoursa.com</a></li>
            <li class="mb-1"><span>Fax</span> <img src="/src/assets/icon/printer.svg" class="ms-2"></li>
            <li class="nav-item"><a class="nav-link" href="#">0216 655 00 68</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="bg-secondary">
      <div class="wrapper">
        <div class="footer-info">
          <div><a href="#">Copyright © 2022 CarrefourSA</a></div>
          <div><a href="#">Sosyal Medya</a></div>
          <div><a href="#">Site Design & Technology by Code And More</a></div>
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.1.min.js"
  integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<!-- Vendor JS -->
<script src="{{webRoot}}/assets/js/vendor.bundle.js"></script>

<!-- Theme JS -->
<script src="{{webRoot}}/assets/js/theme.bundle.js"></script>