<section class="bulletin-form">
  <div class="container">
    <form id="form-bulletin">
      <div class="form-group row mb-3">
        <div class="col-md-10">
          <input type="text" id="input-bulletin" class="form-control mb-2 mb-md-0"  placeholder="E-Bülten Üyeliği">
        </div>
        <div class="col-md-2">
          <button id="btn-bulletin" class="btn btn-secondary rounded-0 fw-bold col-form-label w-100">Üye Ol</button>
        </div>
      </div>

      <div class="form-group row mb-3">
        <div class="col-sm-6">
          <div class="form-check mb-3">
            <input type="checkbox" class="form-check-input me-2" id="exampleCheck1">
            <label class="form-check-label fw-bold" for="exampleCheck1">KVKK Onayı</label>
          </div>
          <div class="form-check mb-3">
            <input type="checkbox" class="form-check-input me-2" id="exampleCheck2">
            <label class="form-check-label fw-bold" for="exampleCheck2">Aydınlatma Metni</label>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="d-flex align-items-center">
            <input type="checkbox" id="recaptcha" class="me-1">
            <label for="recaptcha">Ben Robot Değilim</label>
          </div>
        </div>
      </div>

      <div class="form-group">
        <p>Bizlerden devamlı haberdar olmak için e bülten üyeliğine başvurabilirsiniz. Başvuru yapmak istiyorsanız
          yukarıda
          belirtilen KVKK
          Metnini okuyup onaylamanız gerekmektedir.</p>
      </div>
    </form>

  </div>
</section>