<section class="promotional-video-section">
  <div class="container">
    <div class="row">
      <div class="col-md-8 align-self-center">
        <div class="content">
          <div data-relative-input="true" id="promotional-video-section-parallax" class="parallax">
            <div data-depth="0.2">
              <img class="bg-path path-1" src="/src/assets/images/path-1.svg" alt="">
            </div>
            <div data-depth="0.4">
              <img class="bg-path path-2" src="/src/assets/images/path-2.svg" alt="">
            </div>
          </div>
          <h2>
            CARREFOUR GROUPE TÜRKİYE’DE
          </h2>
          <p>
            Dünyada modern perakendeciliğin temelini oluşturan ve ilk mağazasını 15 Haziran 1963’te Fransa’da açan
            Carrefour, bugün
            30 ülkede, 12.300 mağazasıyla yılda ortalama iki milyar kişinin alışverişlerinde tercih ettiği
            Avrupa’nın
            1
            numaralı
            perakende zinciridir. <br />
            CarrefourSA, Türkiye’de ucuz fiyat politikası, hijyen, ve sağlığa verdiği önem, yaptığı yatırımlar ve
            ihracatla modern
            perakendeciliğin temelini oluşturmaktadır.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="video-card">
          <img class="img-full rounded-circl rounded-4" src="/src/assets/images/section-video-card.jpg" alt="">
          <button class="btn-video-effect">
            <i class="fa-solid fa-play"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>