<section class="swiper home-intro-slider">
  <div class="swiper-wrapper">
    <div class="swiper-slide" style="background-image: url('/src/assets/images/home-intro-swiper-img.jpg') ;">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="content">
              <h1>PERAKENDE DE ALANINDA</h1>
              <p>CarrefourSA, bugün 10.400 çalışanı ile 40 ildeki Hiper, Süper, Gurme ve Mini formatlardaki 700’ün
                üzerinde
                marketi, 12
                deposu ve CarrefourSA Online Market üzerinden müşterilerine doğru ürünü, doğru üreticiden alarak
                doğru
                hizmet ve fiyatla
                müşterilerine ulaştırmaktadır.</p>
            </div>
          </div>
        </div>
        <div class="swiper-controller">
          <div class=" swiper-button-prev"></div>
          <div class=" swiper-button-next"></div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
    <div class="swiper-slide"
      style="background-image: url('https://images.pexels.com/photos/868110/pexels-photo-868110.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2') ;">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="content">
              <h1>PERAKENDE DE ALANINDA 2</h1>
              <p>CarrefourSA, bugün 10.400 çalışanı ile 40 ildeki Hiper, Süper, Gurme ve Mini formatlardaki 700’ün
                üzerinde
                marketi, 12
                deposu ve CarrefourSA Online Market üzerinden müşterilerine doğru ürünü, doğru üreticiden alarak
                doğru
                hizmet ve fiyatla
                müşterilerine ulaştırmaktadır.</p>
            </div>
          </div>
        </div>
        <div class="swiper-controller">
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
    <div class="swiper-slide"
      style="background-image: url('https://images.pexels.com/photos/5910950/pexels-photo-5910950.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2') ;">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="content">
              <h1>PERAKENDE DE ALANINDA 3</h1>
              <p>CarrefourSA, bugün 10.400 çalışanı ile 40 ildeki Hiper, Süper, Gurme ve Mini formatlardaki 700’ün
                üzerinde
                marketi, 12
                deposu ve CarrefourSA Online Market üzerinden müşterilerine doğru ürünü, doğru üreticiden alarak
                doğru
                hizmet ve fiyatla
                müşterilerine ulaştırmaktadır.</p>
            </div>
          </div>
        </div>
        <div class="swiper-controller">
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
  <div class="container" style="margin-top: initial;">
    <div class="hero-cta">
      <div class="row">
        <div class="col-md-4">
          <button class="btn translucent">
            Kurumsal Profil
            <svg class="ms-3" xmlns="http://www.w3.org/2000/svg" width="19.893" height="13.262"
              viewBox="0 0 19.893 13.262">
              <path id="Path_2804" data-name="Path 2804"
                d="M19.772,91.671l-6.217-6.217a.414.414,0,0,0-.586.586l5.509,5.509H.414a.414.414,0,1,0,0,.829H18.478l-5.509,5.509a.414.414,0,1,0,.586.586l6.217-6.217A.414.414,0,0,0,19.772,91.671Z"
                transform="translate(0 -85.333)" fill="#fff" />
            </svg>
          </button>
        </div>
        <div class="col-md-4">
          <button class="btn translucent">
            YÖNETİM EKİBİ
            <svg class="ms-3" xmlns="http://www.w3.org/2000/svg" width="19.893" height="13.262"
              viewBox="0 0 19.893 13.262">
              <path id="Path_2804" data-name="Path 2804"
                d="M19.772,91.671l-6.217-6.217a.414.414,0,0,0-.586.586l5.509,5.509H.414a.414.414,0,1,0,0,.829H18.478l-5.509,5.509a.414.414,0,1,0,.586.586l6.217-6.217A.414.414,0,0,0,19.772,91.671Z"
                transform="translate(0 -85.333)" fill="#fff" />
            </svg>
          </button>
        </div>
        <div class="col-md-4">
          <button class="btn translucent">
            Basın odası
            <svg class="ms-3" xmlns="http://www.w3.org/2000/svg" width="19.893" height="13.262"
              viewBox="0 0 19.893 13.262">
              <path id="Path_2804" data-name="Path 2804"
                d="M19.772,91.671l-6.217-6.217a.414.414,0,0,0-.586.586l5.509,5.509H.414a.414.414,0,1,0,0,.829H18.478l-5.509,5.509a.414.414,0,1,0,.586.586l6.217-6.217A.414.414,0,0,0,19.772,91.671Z"
                transform="translate(0 -85.333)" fill="#fff" />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>