<section class="section-news-slider">
  <div class="container">
    <div class="swiper news-slider">
      <div data-relative-input="true" id="news-slider-parallax" class="parallax">
        <div data-depth="0.2">
          <img class="bg-path path-3" src="/src/assets/images/path-3.svg" alt="">
        </div>
        <div data-depth="0.1">
          <img class="bg-path path-4" src="/src/assets/images/path-4.svg" alt="">
        </div>
      </div>
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="row">
            <div class="col-md-5">
              <div class="content">
                <h2>
                  Haberler
                </h2>
                <p>
                  Dünyada modern perakendeciliğin temelini oluşturan ve ilk mağazasını 15 Haziran 1963’te
                  Fransa’da açan
                  Carrefour, bugün
                  30 ülkede,
                  <br>
                  <br>
                  12.300 mağazasıyla yılda ortalama iki milyar kişinin alışverişlerinde tercih ettiği Avrupa’nın 1
                  numaralı
                  perakende
                  zinciridir. CarrefourSA,
                  Türkiye’de ucuz fiyat politikası, hijyen, ve sağlığa verdiği önem, yaptığı yatırımlar ve
                  ihracatla
                  modern
                  perakendeciliğin temelini oluşturmaktadır.
                </p>
              </div>
            </div>
            <div class="col-md-6 offset-md-1">
              <div class="news-card">
                <img src="/src/assets/images/section-news-card-img.jpg" alt="">
              </div>
              <div class="buttons">
                <button class="btn btn-primary">
                  Devamını Oku…
                </button>
                <button class="btn btn-secondary">
                  Tüm Haberler
                  <svg class="ms-3" xmlns="http://www.w3.org/2000/svg" width="19.893" height="13.262"
                    viewBox="0 0 19.893 13.262">
                    <path id="Path_2804" data-name="Path 2804"
                      d="M19.772,91.671l-6.217-6.217a.414.414,0,0,0-.586.586l5.509,5.509H.414a.414.414,0,1,0,0,.829H18.478l-5.509,5.509a.414.414,0,1,0,.586.586l6.217-6.217A.414.414,0,0,0,19.772,91.671Z"
                      transform="translate(0 -85.333)" fill="#fff" />
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="row">
            <div class="col-md-5">
              <div class="content">
                <h2>
                  Medya
                </h2>
                <p>
                  Medya modern perakendeciliğin temelini oluşturan ve ilk mağazasını 15 Haziran 1963’te
                  Fransa’da açan
                  Carrefour, bugün
                  30 ülkede,
                  <br>
                  <br>
                  15.300 mağazasıyla yılda ortalama iki milyar kişinin alışverişlerinde tercih ettiği Avrupa’nın 1
                  numaralı
                  perakende
                  zinciridir. CarrefourSA,
                  Türkiye’de ucuz fiyat politikası, hijyen, ve sağlığa verdiği önem, yaptığı yatırımlar ve
                  ihracatla
                  modern
                  perakendeciliğin temelini oluşturmaktadır.
                </p>
              </div>
            </div>
            <div class="col-md-6 offset-md-1">
              <div class="news-card">
                <img
                  src="https://images.pexels.com/photos/242492/pexels-photo-242492.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                  alt="">
              </div>
              <div class="buttons">
                <button class="btn btn-primary">
                  Devamını Oku…
                </button>
                <button class="btn btn-secondary">
                  Tüm Haberler
                  <svg class="ms-3" xmlns="http://www.w3.org/2000/svg" width="19.893" height="13.262"
                    viewBox="0 0 19.893 13.262">
                    <path id="Path_2804" data-name="Path 2804"
                      d="M19.772,91.671l-6.217-6.217a.414.414,0,0,0-.586.586l5.509,5.509H.414a.414.414,0,1,0,0,.829H18.478l-5.509,5.509a.414.414,0,1,0,.586.586l6.217-6.217A.414.414,0,0,0,19.772,91.671Z"
                      transform="translate(0 -85.333)" fill="#fff" />
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-controller">
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>
  </div>
</section>