<section class="single-info-slider">
  <div class="container">
    <div class="swiper info-slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="row">
            <div class="col-md-5">
              <img class="swiper-img" src="/src/assets/images/single-swiper-card.jpg" alt="">
            </div>
            <div class="col-md-7">
              <div class="content">
                <h2>KURUMSAL PROFİLİMİZ</h2>
                <p>
                  Sabancı Holding ve Carrefour Grup iştiraki CarrefourSA, 1996 yılından bu yana Türkiye organize
                  gıda
                  perakende sektörünün
                  öncü markası olarak faaliyet göstermektedir. <br> CarrefourSA’da 1999’dan 2013 yılına kadar geçen
                  süreçte
                  organik ve
                  inorganik büyüme adımla
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="row">
            <div class="col-md-5">
              <img class="swiper-img"
                src="https://media.istockphoto.com/photos/grocery-shopping-picture-id1194709125?s=612x612" alt="">
            </div>
            <div class="col-md-7">
              <div class="content">
                <h2>KURUMSAL PROFİLİMİZ 2</h2>
                <p>
                  Sabancı Holding ve Carrefour Grup iştiraki CarrefourSA, 1996 yılından bu yana Türkiye organize
                  gıda
                  perakende sektörünün
                  öncü markası olarak faaliyet göstermektedir. <br> CarrefourSA’da 1999’dan 2013 yılına kadar geçen
                  süreçte
                  organik ve
                  inorganik büyüme adımla
                </p>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="swiper-controller">
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>
  </div>
</section>